.admin-category {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  text-align: center;
  color: var(--font-color);
  border: 2px solid var(--main-elem-color);
  overflow: hidden;
  cursor: pointer;
}

.admin-category__delete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.admin-category__delete::before,
.admin-category__delete::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 2px;
  height: 15px;
  background-color: var(--font-color);
}

.admin-category__delete::before {
  transform: rotate(45deg);
}

.admin-category__delete::after {
  transform: rotate(-45deg);
}

.admin-category__title {
  font-size: 24px;
}

.admin-category__text {
  font-size: 20px;
}

.admin-category__btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.admin-category__btn {
  background-color: var(--bg-color);
}

.admin-category__create-btn {
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--font-color);
  border-color: var(--bg-color);
  border-radius: 50%;
  background-color: transparent;
  transition: transform .2s ease;
  cursor: pointer;
}
.admin-category__create-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .admin-category {
    padding: 10px;
    height: 120px;
  }

  .admin-category__title {
    font-size: 12px;
  }

  .admin-category__text {
    font-size: 12px;
  }

  .admin-category__btns {
    flex-direction: column;
  }

  .admin-category__btn {
    margin-top: 5px;
  }

  .admin-category__create-btn {
    width: 40px;
    height: 40px;
    font-size: 34px;
  }
}

@media (max-width: 320px) {
  .admin-category {
    width: 100%;
  }
}
