.star {
  min-width: 30px;
  height: 30px;
  background-size: cover;
}

@media (max-width: 576px) {
  .star {
    min-width: 20px;
    height: 20px;
  }
}

@media (max-width: 320px) {
  .star {
    min-width: 20px;
    height: 20px;
  }
}
