.footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  background-color: var(--bg-color);
  box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2);
}

.footer__rss {
  height: 25px;
}

.footer__link:hover {
  color: var(--active-color);
}

.footer__info {
  font-size: 12px;
}
