*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-bg-color: #cfdafc;
  --bg-color: #8eb2f5;
  --main-font-color: #ffe1ff;
  --main-elem-color: #e2a4df;
  --active-color: #00ffff;
  --unactive-color: #94bfbf;
}

.body {
  font-size: 24px;
  font-family: "Nanum Gothic", sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}
