.header {
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2);
  z-index: 1;
}
