.switch-label {
  margin-right: 50px;
  position: relative;
  display: flex;
  height: 32px;
  width: 64px;
  border-radius: 9999px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 7px 5px rgb(209 26 226 / 20%);
}

.switch-label::before,
.switch-label::after {
  position: absolute;
  display: block;
  font-size: 20px;
  color: var(--main-font-color);
}

.switch-label::before {
  left: -60px;
  content: 'train';
}

.switch-label::after {
  right: -70px;
  content: 'game';
}

.switch-label__input {
  display: none;
}

.switch-label__circle {
  position: absolute;
  left: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--main-elem-color);
  transition: left .4s ease;
  cursor: pointer;
}

.switch-label__input:checked + .switch-label__circle {
  left: 35px;
  border: 2px solid var(--main-elem-color);
  background-color: var(--bg-color);
}

@media (max-width: 576px) {
  .switch-label::before,
  .switch-label::after {
    font-size: 18px;
  }

  .switch-label::before {
    left: -50px;
  }
  
  .switch-label::after {
    right: -60px;
  }
}
