.table {
  width: 100%;
  color: var(--font-color);
  overflow: hidden;
}

@media (max-width: 768px) {
  .table {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .table {
    width: 310px;
  }
}

@media (max-width: 320px) {
  .table {
    width: 250px;
  }
}
