.body {
  --bg-color: rgb(173, 160, 248);
}

.header {
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2);
  z-index: 1
}

.admin-header__logout-btn {
  font-size: 16px;
  background-color: var(--main-elem-color);
  box-shadow: 0px 0px 7px 5px rgb(209 26 226 / 20%);
}
